.inmypants-body-hero {
    background-image: url("/assets/images/inmypants/moon.gif");
    text-align: center;
}

.inmypants-body {
    background-image: url("/assets/images/inmypants/stone3.gif");
    text-align: center;
}

.inmypants-divider{
    border-width: 3px;
}

.inmypant-brand {
    font-style: italic;
    font-weight: bold;
}

.inmypants-homelink {
    width: 100%;
    text-align: center;
}