.subnav {
    float:right;
    margin: 0;
    padding: 0 10px;
}

.subnav li {
    padding: 5px;
}


.subnav-title {
    text-align: center;
}

.subnav-current {
    background-color: #e7e7e7ec;
}

.subnav-current a{
    text-decoration: underline;
}

.subnav ul {
    list-style: none;
}

.homepage-post-readmore {
    bottom: 0;
    margin: 20px;
    position: absolute;
    right: 0;
}

.homepage-post-list {
    clear: both;
    min-height: 200px;
    position: relative;
}

.homepage-post {
    float: left;
    margin: auto;
    padding: 10px;
    width: 30%;
}