$secondary-color:rgba(240, 235, 235, 0.5);

.header {
    background-color: #000;
    margin: 0 0 3em 0;
    padding: 10px;
}

.header a {
    color: #fff;
}
.header a:hover {
    text-decoration: underline;
}

header nav div {
    font-size: 2em;
}

main {
    h1,h2,h3,h4,h5,h6 {
        font-family: 'Happy Monkey', cursive;
    }
}

.footer{
    background-color:$secondary-color;
    margin: 100px 0 0 0;
    padding: 20px 15px 10px 15px;
}

.nav-pills .nav-link.active {
    background-color: $gray-800;
}
.nav-pills .nav-item-head {
    font-size: 1.2em;
}

blockquote {
    border-left: 3px solid $gray-500;
    margin: 10px 2em;
    padding: 0 0 0 1em;
}

.related-posts {
 background-color: $secondary-color;
}

img.wyseguys-album {
    max-height: 300px;
}

.well {
    margin: 10px 0 0 0;
    background-color: #f2f2f2ea;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #000;
    h3.ad {
        font-size: .8em;
        border: 1px 0 1px 0 solid #010100;
    }
}

.blag-excerpt {
    background-color: $secondary-color;
    margin: 0 0 20px 0;
    padding: 1em;
}

.blag-excerpt hr {
    width: 75%;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}